*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  width: 1200px;
  margin: 15px auto;
}
header{
  height: 150px;
  background-color: yellow;
}
footer{
  height: 75px;
  background-color: lightblue;
}
.contain{
  height: 450px;
  margin: 10px auto;
}
.contain::after{
  content: "";
  display: table;
  clear: both;
}
.block1{
  width: calc(30% - 20px);
  height: 350px;
  margin-right: 20px;
}
.block2{
  width: 40%;
  height: 100%;
  background-color: purple;
}
.block3{
  width: calc(30% - 20px);
  height: 210px;
  margin: 0 0 10px 20px;
}
.plum{
  background-color: plum;
}
.float-l{
  float: left;
}
